version: '3.8'

services:
  app:
    container_name: recipes_backend
    restart: always
    build: .
    ports:
      - '5000:5000'
    links:
      - mongo
    volumes:
      - .:/app
      - /app/node_modules
  mongo:
    container_name: mongo
    image: mongo
    ports:
      - '27017:27017'
    volumes:
      - data:/app/data

volumes:
  data: