extends emailWrapper

block content
    style.
        body {
            margin: 0;
        }

        header {
            text-align: center;
        }

        .header-title {
            font-size: 36px;
            font-family: 'Candara', sans-serif;
            font-weight: 700;
        }

        .main {
            margin-top: 40px;
            font-size: 30px;
            font-family: Candara, sans-serif;
        }

        .your-activation-code {
            text-align: center;
            font-size: 30px;
            font-family: Candara, sans-serif;
            text-decoration: underline;
            margin-bottom: 10px;
        }

        .reset-password-link {
            text-align: center;
            font-size: 30px;
            font-family: Candara, sans-serif;
            text-decoration: underline;
            margin-top: 10px;
            font-weight: 800;
        }
    header.header
        img(src='https://recipes-application.s3.us-east-2.amazonaws.com/logo.png' alt='')
        .header-title You forget your password
    main.main
        h3.your-activation-code Your link:
        div.reset-password-link #{link}
